.tarefa {
    border: 1px solid #404040;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    min-width: 400px;
}

.icon {
    width: 60px;
}

footer {
    position: fixed;
    bottom: 0;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
}

#novaTarefa {
    border-radius: 20px;
    width: 80%;
}
